body {
    background-image: url('images/default.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    /* text-shadow: 2px 2px 1px black; */
    font-family: "Open Sans", "Noto Sans", "PT Sans", serif;
}

::placeholder {
    font-family: 'Raleway', sans-serif;
}

#searchContainer {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

.searchControl {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

#searchContainer:hover{
    width: 200px;
    cursor: pointer;
}

#searchContainer:hover input{
    display: block;
}

#searchContainer:hover .fa{
    background: #07051a;
    color: white;
}

#weatherContainer {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: absolute;
    visibility: hidden;
}

#weatherContainer h1 {
    margin: 5px;
    font-size: 42px;
    font-family: "Source Sans Pro", "Poppins", "Lato", "Ubuntu", sans-serif;
}

#weatherMain {
    display: block;
    margin-bottom: 20px;
}

#weatherMain div {
    display: inline-block;
}

#weatherDescriptionHeader {
    font-size: 28px;
    vertical-align: 50%;
}

#temperature {
    font-size: 38px;
    vertical-align: 25%;
}

.bottomDetails {
    display: block;
    font-size: 24px;
    text-align: right;
}

hr {
    margin-bottom: 20px;
}


/* responsive */

@media screen and (max-width: 1024px) and (orientation: landscape) {

    * {
        overflow-y: hidden;
    }

    #weatherContainer {
        width: 500px;
        margin: 0 auto;
        margin-left: -125px;
    }

    /* #temperature {
        font-size: 5em;
    }

    #weatherDescriptionHeader, .bottomDetails {
        font-size: 4em;
    }

    #weatherMain div {
        display: block;
    }

    #documentIconImg {
        width: 200px;
        height: 200px;
    } */
}

@media screen and (max-width: 400px) {
    #weatherContainer {
        margin-top: 50px;
    }
}